# If the session is interactive, execute interactive-only commands.
if status is-interactive
    # Add any commands you want to run interactively.
end

# Add CUDA to PATH if CUDA is installed.
if test -d /usr/local/cuda-12.6/bin
    set -x PATH /usr/local/cuda-12.6/bin $PATH
end

# Dynamically set `neofetch` ASCII distro.
if test (uname) = "Linux"
    set distro (lsb_release -is | string lower)
    if test "$distro" = "ubuntu" && test -d ~/.config/plasma-workspace
        neofetch --ascii_distro kubuntu
    else
        neofetch --ascii_distro $distro
    end
else if test (uname) = "Darwin"
    neofetch --ascii_distro macos
else
    neofetch
end

# Remove the default Fish greeting.
set fish_greeting
